#flagimage {
    height: 150px;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
}

.wordwrap {
    word-wrap: break-word;
    width: 260px;
    margin: 0 auto;
}

@media (max-width: 480px) {
    #flagimage {
      width: 25%;
        height: 25%;
    }
  }

  @media (max-width: 480px) {
    .countrytitle {
      font-size: 12px;
      width: 50%;
      margin: 0 auto;
    }
  }

  @media (max-width: 480px) {
    .countryContents {
      font-size: 10px;
    }
  }